[submodule "docopt"]
	path = subprojects/docopt/docopt
	url = https://github.com/docopt/docopt.cpp.git
[submodule "opus"]
	path = subprojects/opus/opus
	url = https://git.xiph.org/opus.git
[submodule "libsoundio"]
	path = subprojects/libsoundio/libsoundio
	url = https://github.com/andrewrk/libsoundio
[submodule "libwebm"]
	path = subprojects/libwebm/libwebm
url=https://chromium.googlesource.com/webm/libwebm